temp_data/body_1_command.json
temp_data/body_1_sensor.json
temp_data/head_1_command.json
temp_data/head_1_sensor.json
temp_data/head_2_command.json
temp_data/head_2_sensor.json
temp_data/head_3_command.json
temp_data/head_3_sensor.json
temp_data/head_4_command.json
temp_data/head_4_sensor.json
temp_data/larm_1_command.json
temp_data/larm_1_sensor.json
temp_data/larm_3_command.json
temp_data/larm_3_sensor.json
temp_data/larm_4_command.json
temp_data/larm_4_sensor.json
temp_data/legs_1_command.json
temp_data/legs_1_sensor.json
temp_data/legs_2_command.json
temp_data/legs_2_sensor.json
temp_data/legs_3_command.json
temp_data/legs_3_sensor.json
temp_data/legs_4_command.json
temp_data/legs_4_sensor.json
temp_data/lleg_1_command.json
temp_data/lleg_1_sensor.json
temp_data/task_1.json
